<section site-body class="dn">
  <% if(theme.tagcloud) { %>
    <nav>
    <%- tagcloud({start_color: theme.tagcloud.start_color, end_color: theme.tagcloud.end_color,color: true}) %>
    </nav>
  <% } %>
</section>

<footer site-footer>
  <div copyright>
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    <% if (theme.subtitle){ %>
      <h4><%= theme.subtitle %></h4>
    <% } %>
  </div>
  <div powered>
      <b><a href="https://github.com/shenqihui/hexo-theme-pithy" target="_blank">Pithy</a></b> Hexo Theme designed by <b><a href="http://blog.shenqh.com/" target="_blank">shenqihui</a></b>, Powered by <b><a href="http://hexo.io/" target="_blank">Hexo</a></b> and <b><a href="https://pages.github.com/">Github Pages</a></b>. <b><a href="/sitemap.xml">Sitemap</a></b> .
  </div>

  <% if (theme.footer_word) { %>
    <div footer_word>
      <%= theme.footer_word %>
    </div>
  <% } %>
</footer>
